@font-face {
	font-family: "Pokemon";
	src: url("font/Pokemon\ Hollow.ttf") /* format("ttf") */;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* on utilise toute la hauteur du navigateur */
	min-height: 100vh;
}

body {
	min-height: 100%;
    background-color: rgb(255, 235, 218);
}

.types {
	display: flex;
	gap: 5px;
}

.type {
	width: 45px;
	text-align: center;
	border-radius: 2px;
	padding: 2px;
}

.pokemons {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
	justify-content: center;
	align-items: center;
	/* justify-content: space-between; */
}

.logo {
	background-color: #dadada;
}

.pokemon {
	min-width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #dadada;
    
}

.content{
    padding: 3px;
    border: 0.5px solid grey;
    border-radius: 2px;
}

.lil-order {
	font-size: 10px;
	color: #a8a8a8;
}

h4 {
	font-size: 12px;
}

/* .grass {
	color: black;
	background-color: #9bcc50;
}

.poison {
	color: white;
	background-color: #b97fc9;
}

.fire {
	color: white;
	background-color: #fd7d24;
}

.flying {
	color: black;
	background-color: #3dc7ef;
}

.water {
	color: white;
	background-color: #4592c4;
}

.bug {
	color: white;
	background-color: #729f3f;
}

.normal {
	color: black;
	background-color: #a4acaf;
}

.electric {
	color: black;
	background-color: #eed535;
}

.ground {
	background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
	background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
	background-color: #f7de3f;
	color: #212121;
} */

.en-tete {
	width: 100%;
	background-color: #313131;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3em;
	padding: 1em 0px;
	gap: 15px;
}

.en-tete-title {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex {
	display: flex;
}

h1 {
	color: white;
	font-size: 30px;
	font-family: "Flexo-Regular", arial, sans-serif;
}

.pokeFont {
	font-family: "Flexo-Demi", arial, sans-serif;
	font-weight: 500;
	color: black;
    font-size: 17px;
    
}

.card {
	/* text-decoration:none;  */
	border: none;
}

.card:hover {
	text-decoration: none;
}

.pokemonTitle{
    font-family: 'Pokemon';
    font-size: 40px;
    color: white;
}

.bigLogo{
    padding-right: 1em;
}

.pagination{
	width: 48%;
	background-color: #a4a4a4;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 100px;
	gap: 2em;
}

.pagination:hover {
	text-decoration: none;
}

.grey{
	color: #616161;
	font-family: "Flexo-Bold",arial,sans-serif;
	font-size: 150%;
}

.white{
	color: white;
	font-family: "Flexo-Bold",arial,sans-serif;
	font-size: 150%;
}

.arrows{
	color: #616161;
	background-color: white;
	width: 20px;
	height: 20px;
	border-radius: 25px;
	text-align: center;
	font-weight: bold;
}

.space-between{
	justify-content: space-between;
}

.mrg-left{
	margin-left: 1%;
}

.mrg-right{
	margin-right: 1%;
}

p{
	margin-bottom: 0px;
}

.relative{
	position: relative;
}

.pokemon-name{
	position: absolute;
	bottom: 0;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 0px;
	background-color: white;
	height: 80px;
	border-radius: 25px 25px 0px 0px;;
	font-family: "Flexo-Medium",arial,sans-serif;
	font-size: 225%;
}

.center{
	justify-content: center;
	align-items: center;
}

.pokemon-detailed{
	width: 100%;
	justify-content: space-evenly;
	margin-bottom: 2em;
}


.detailed-img{
	width: 40%;
}

.detailed-information{
	width: 45%;
	background-color:#dadada;
	border-radius: 15px 50px 15px 50px;
}

.mb-pagination{
	margin-bottom: 3em;
}

.stats{
	width: 45%;
	background-color: #a4a4a4;
	border-radius: 15px;
}

.weakness{
	width: 40%;
}

.detailed-stat-title{
	font-family: "Flexo-Medium",arial,sans-serif;
	color: black;
	margin-left: 1em;
	margin-bottom: 0.5em;
}

.stat-title{
	font-size: 100%;
	color: #313131;
	margin: 0.75em 1.5em 1.5em;
}

.stat-name{
	font-size: 75%;
	font-family: "Roboto",arial,sans-serif;
    font-weight: bold;
    color: #212121;
	text-align: center;
	width: 100%;
	margin-top: 0.5em;
}

.total-gauge{
	height: 200px;
	width: 60px;
	background-color: white;
	position: relative;
	z-index: 0;
	display: flex;
}

.gauges{
	justify-content: space-evenly;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 1em;
}

.gauge{
	max-width: 60px;
}

.lightBlue{
	width: 60px;
	position: absolute;
	background-color: #00d4ff;
	z-index: 1;
	bottom: 0;
	/* transition-property: height;
	transition-duration: 4s;
	transition-delay: 2s; */
	animation: fadeInAnimation ease 5s;

}

@keyframes fadeInAnimation {
	0% {
		height: 0px;
	}
}


.skyBlue{
	width: 60px;
	position: absolute;
	background-color: #03b0d7;
	z-index: 1;
	bottom: 0;
	animation: fadeInAnimation ease 5s;
}

.medBlue{
	width: 60px;
	position: absolute;
	background-color: #095c79;
	z-index: 1;
	bottom: 0;
	animation: fadeInAnimation ease 5s;
}

.nightBlue{
	width: 60px;
	position: absolute;
	background-color: #020024;
	z-index: 1;
	bottom: 0;
	animation: fadeInAnimation ease 5s;
}

.div-grid{
	width: 60px;
	position: absolute;
	background-color: #a4a4a4;
	z-index: 2;
	height: 5px;
}

.anim{
	width: 100%;
	height: 444px;
}

.img-flot{
	position: absolute;
	animation: moveInAnimation ease 3s;
	animation-iteration-count: infinite;
}

@keyframes moveInAnimation {
	0% {
		transform: rotate(0deg);
	}
	25%{
		transform: rotate(10deg);
	}
	50%{
		transform: rotate(0deg);
	}
	75%{
		transform: rotate(-10deg);
	}
	100%{
		transform: rotate(0deg)
	}
}